<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <h2>Query MPI Using Surname Davies</h2>
    @Html.ActionLink("Search", "GetPatientDetails", "Home", new { area = "" }, null)

    <h2>Query Diagnostics Using Id 43</h2>
    @Html.ActionLink("Search", "GetDiagnosticsDetails", "Home", new { area = "" }, null)

</div>
<div class="row">
    <div class="col-md-4">
        @*<h2>Query Davies</h2>
        @Html.ActionLink("Search", "ResultAPI", "Home", new { area = "" }, null)
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Search &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>
